APP_KEY=base64:GERAR_NO_SERVIDOR
MYSQL_DATABASE=evepulse_licenses
MYSQL_USER=evepulse
MYSQL_PASSWORD=GERAR_NO_SERVIDOR
MYSQL_ROOT_PASSWORD=GERAR_NO_SERVIDOR
LICENSE_PRIVATE_KEY=GERAR_NO_SERVIDOR
LICENSE_PUBLIC_KEY=GERAR_NO_SERVIDOR
ADMIN_EMAIL=admin@robolite.4dtech.com.br
ADMIN_PASSWORD=GERAR_NO_SERVIDOR
ADMIN_NAME=Administrador
APP_URL=https://robolite.4dtech.com.br
LICENSE_LEASE_MINUTES=4320
EVE_DOMAIN=robolite.4dtech.com.br
ACME_EMAIL=admin@robolite.4dtech.com.br
